<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>JServant v.0.5 (Beta)</title>
    <!--
     Edit boot strap issue fixed. Can't travel up directories in jar for some reason
     so copied font dir to css dir and remapped css file
    -->
    <link href="imports/bootstrap-3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <!-- Consider using bootstrap gradient for bg instead, commented out for now
    <link href="bootstrap-3.3.6/css/bootstrap-theme.css" rel="stylesheet">
    -->
    <link href="imports/fonts/google-fonts-roboto.css" rel='stylesheet' type='text/css'>
    <link href="css/jservant.css" rel="stylesheet">
    <script src="imports/jquery_1.11.1.min.js"></script>
    <script src="imports/bootstrap-3.3.6/js/bootstrap.min.js"></script>
    <script src="js/javabridge.js"></script>
    <script src="imports/angular_1.5.7.min.js"></script>
    <script src="js/jservant.js"></script>
    <!-- Not compatible w/ angular for some reason-->
    <!--<script type="text/javascript" src="https://getfirebug.com/firebug-lite.js"></script>-->
</head>
<body ng-app="JServant" ng-controller="JServantCtrl">
<div id="wrapper">
    <div class="dividerVertical"></div>
    <div class="main-form">
        <form action="#" method="POST">
            <fieldset>
                <div class="text-center">
                    <span class="form-logo glyphicon glyphicon-education"></span>
                </div>
                <div class="form-body">
                    <h1 class="form-title text-center">JServant</h1>
                    <div id="varsHolder" name="variableContainerDiv">
                        <li ng-repeat="variable in vars">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-10">
                                                <label for="var_{{variable.name}}">
                                                    {{variable.name}}:
                                                </label>
                                                <div class="divider"></div>
                                                <input class="input-large" type="text" id="var_{{variable.name}}"
                                                       name="var_{{variable.name}}" ng-model="variable.value"
                                                       style="text-align:center;">
                                                </input>
                                                <div class="divider"></div>
                                                <button class="btn btn-success btn-xs">
                                                    <span class="glyphicon glyphicon-ok"/>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dividerVertical"></div>
                        </li>
                    </div>
                    <div class="form-group">
                        <label for="scriptSelect">Select a script: </label>
                        <div class="divider"></div>
                        <label for="scriptSelect" id="scriptName" name="scriptName">
                            <i>{{currentScriptName | limitTo: 20}}</i>
                        </label>
                        <div class="divider"></div>
                        <label for="scriptSelect" id="scriptStatus" name="scriptStatus" class="{{runningState()}}">
                            <b>{{currentScriptStatus}}</b>
                        </label>
                        <!--<div class="divider"></div>
                        <button class="btn btn-success btn-xs">
                            <span class="glyphicon glyphicon-plus"/>
                        </button>-->
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="scriptSelect" onchange="loadScript();"
                                ng-model="currentScriptName">
                            <option>{{NONE_SELECTED_TEXT}}</option>
                        </select>
                    </div>
                    <div class="form-group text-center">
                        <button class="btn btn-danger btn-lg" type="button" ng-click="stopScript();">Stop</button>
                        <div class="divider"></div>
                        <button class="btn btn-info btn-lg" type="button" ng-click="runScript()">Run</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
</body>
</html>